TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_PHONE=
TELEGRAM_AGGREGATOR_CHANNEL=
TELEGRAM_AGGREGATOR_BOT=

# Set to true, false, or a duration (e.g., 12h, 2d) to catch up missed messages
CATCH_UP=12h
